@import '~reveal.js/dist/reveal.css';
@import './code-style.css';
@import './slide-background.css';
@font-face {
    font-family: Wotfard;
    src: url(../fonts/wotfard/wotfard-semibold-webfont.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: Wotfard;
    src: url(../fonts/wotfard/wotfard-medium-webfont.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: Wotfard;
    src: url(../fonts/wotfard/wotfard-regular-webfont.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: auto;
}

section.has-dark-background,
section.has-dark-background h1,
section.has-dark-background h2,
section.has-dark-background h3,
section.has-dark-background h4,
section.has-dark-background h5,
section.has-dark-background h6 {
    color: #fff;
}

/*********************************************
  * GLOBAL STYLES
  *********************************************/

:root {
    --r-background-color: #fff;
    --r-main-font: Wotfard, sans-serif;
    --r-main-font-size: 34px;
    --r-main-color: #fff;
    --r-block-margin: 20px;
    --r-heading-margin: 0 0 20px 0;
    --r-heading-font: Wotfard, sans-serif;
    --r-heading-color: #fff;
    --r-heading-line-height: 1.2;
    --r-heading-letter-spacing: normal;
    --r-heading-text-transform: none;
    --r-heading-text-shadow: none;
    --r-heading-font-weight: 400;
    --r-heading1-text-shadow: none;
    --r-heading1-size: 3.77em;
    --r-heading2-size: 2.11em;
    --r-heading3-size: 1.55em;
    --r-heading4-size: 1em;
    --r-label-size: 0.6em;
    --r-label-padding: 10px;
    --r-code-size: 0.45em;
    --r-code-font: monospace;
    --r-link-color: #ffcd00;
    --r-link-color-dark: #d19b07b4;
    --r-link-color-hover: #e6ff35;
    --r-selection-background-color: rgba(0, 0, 0, 0.99);
    --r-selection-color: #fff;
    --scrollbarBG: #cfd8dc;
    --thumbBG: #90a4ae;
    --r-sider-track: #1e1e1e;
    --r-slider-thumb: #ffcd00;
}

.reveal-viewport {
    background-color: #2264ae;
    background-image: var(--r-slide-background);
}

.reveal {
    font-family: var(--r-main-font);
    font-size: var(--r-main-font-size);
    font-weight: normal;
    color: var(--r-main-color);
}

.reveal ::selection {
    color: var(--r-selection-color);
    background: var(--r-selection-background-color);
    text-shadow: none;
}

.reveal ::-moz-selection {
    color: var(--r-selection-color);
    background: var(--r-selection-background-color);
    text-shadow: none;
}

.reveal .slides section,
.reveal .slides section > section {
    line-height: 1.3;
    font-weight: inherit;
}

/*********************************************
  * HEADERS
  *********************************************/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin: var(--r-heading-margin);
    color: var(--r-heading-color);
    font-family: var(--r-heading-font);
    font-weight: var(--r-heading-font-weight);
    line-height: var(--r-heading-line-height);
    letter-spacing: var(--r-heading-letter-spacing);
    text-transform: var(--r-heading-text-transform);
    text-shadow: var(--r-heading-text-shadow);
    word-wrap: break-word;
}

.reveal h1 {
    font-size: var(--r-heading1-size);
}

.reveal h2 {
    font-size: var(--r-heading2-size);
}

.reveal h3 {
    font-size: var(--r-heading3-size);
}

.reveal h4 {
    font-size: var(--r-heading4-size);
}

.reveal h1 {
    text-shadow: var(--r-heading1-text-shadow);
}

/*********************************************
  * OTHER
  *********************************************/

.reveal p {
    margin: var(--r-block-margin) 0;
    line-height: 1.3;
    font-weight: 300;
}

/* Remove trailing margins after titles */

.reveal h1:last-child,
.reveal h2:last-child,
.reveal h3:last-child,
.reveal h4:last-child,
.reveal h5:last-child,
.reveal h6:last-child {
    margin-bottom: 0;
}

/* Ensure certain elements are never larger than the slide itself */

.reveal img,
.reveal video,
.reveal iframe {
    max-width: 95%;
    max-height: 95%;
}

.reveal strong,
.reveal b {
    font-weight: bold;
}

.reveal em {
    font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
}

.reveal ol {
    list-style-type: decimal;
}

.reveal ul {
    list-style-type: disc;
}

.reveal ul ul {
    list-style-type: square;
}

.reveal ul ul ul {
    list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
    display: block;
    margin-left: 40px;
}

.reveal dt {
    font-weight: bold;
}

.reveal dd {
    margin-left: 40px;
}

.reveal blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: var(--r-block-margin) auto;
    padding: 5px;
    font-style: italic;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
    display: inline-block;
}

.reveal q {
    font-style: italic;
}

.reveal pre {
    display: block;
    position: relative;
    width: 90%;
    margin: var(--r-block-margin) auto;
    text-align: left;
    font-size: var(--r-code-size);
    font-family: var(--r-code-font);
    line-height: 1em;
    word-wrap: break-word;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.reveal code {
    font-family: var(--r-code-font);
    text-transform: none;
    tab-size: 2;
}

.reveal pre code {
    display: block;
    padding: 5px;
    overflow: auto;
    max-height: 400px;
    word-wrap: normal;
}

.reveal .code-wrapper {
    white-space: normal;
}

.reveal .code-wrapper code {
    white-space: pre;
}

.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.reveal table th {
    font-weight: bold;
}

.reveal table th,
.reveal table td {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-bottom: 1px solid;
}

.reveal table th[align='center'],
.reveal table td[align='center'] {
    text-align: center;
}

.reveal table th[align='right'],
.reveal table td[align='right'] {
    text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
    border-bottom: none;
}

.reveal sup {
    vertical-align: super;
    font-size: smaller;
}

.reveal sub {
    vertical-align: sub;
    font-size: smaller;
}

.reveal small {
    display: inline-block;
    font-size: 0.6em;
    line-height: 1.2em;
    vertical-align: top;
}

.reveal small * {
    vertical-align: top;
}

.reveal img {
    margin: var(--r-block-margin) 0;
}

/*********************************************
  * LINKS
  *********************************************/

.reveal a {
    color: var(--r-link-color);
    text-decoration: none;
    transition: color 0.15s ease;
}

.reveal a:hover {
    color: var(--r-link-color-hover);
    text-shadow: none;
    border: none;
}

.reveal .roll span:after {
    color: #fff;
    background: var(--r-link-color-dark);
}

/*********************************************
  * Frame helper
  *********************************************/

.reveal .r-frame {
    border: 4px solid var(--r-main-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal a .r-frame {
    transition: all 0.15s linear;
}

.reveal a:hover .r-frame {
    border-color: var(--r-link-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
  * NAVIGATION CONTROLS
  *********************************************/

.reveal .controls {
    color: var(--r-link-color);
}

/*********************************************
  * PROGRESS BAR
  *********************************************/

.reveal .progress {
    background: rgba(0, 0, 0, 0.2);
    color: var(--r-link-color);
}

/*********************************************
  * PRINT BACKGROUND
  *********************************************/

@media print {
    .backgrounds {
        background-color: var(--r-background-color);
    }
}

/*********************************************
  * Two Column Layout for snippets
  *********************************************/

.reveal .two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.reveal .two-col .snippets {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    max-height: 500px;
    overflow-y: auto;
    margin: var(--r-block-margin);
    background-color: rgb(62 41 25 / 10%);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
    background-image: -webkit-linear-gradient(
            rgba(255, 255, 255, 0.05) 1px,
            transparent 1px
        ),
        -webkit-linear-gradient(0, rgba(255, 255, 255, 0.05) 1px, transparent
                    1px),
        -webkit-linear-gradient(rgba(255, 255, 255, 0.025) 1px, transparent 1px),
        -webkit-linear-gradient(0, rgba(255, 255, 255, 0.025) 1px, transparent
                    1px);
}

.reveal .snippets p {
    margin: 0px;
}

.reveal .two-col .snippet-preview {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    padding: var(--r-block-margin);
}

.reveal .snippet {
    position: relative;
}

.reveal .snippet .play-code {
    position: absolute;
    right: calc(5% + 20px);
    top: calc(var(--r-block-margin) + 5px);
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
    animation: pulse 2s infinite;
}

.reveal .snippet .play-code.clicked {
    animation: unset;
}

.reveal .snippet .play-code:hover path {
    fill: var(--r-link-color-hover);
}

.reveal .snippet .play-code path {
    fill: var(--r-link-color);
}

.reveal .snippet .play-code.clicked path {
    fill: var(--r-link-color-dark);
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(244, 157, 22, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(244, 157, 22, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(244, 157, 22, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(244, 157, 22, 0.4);
        box-shadow: 0 0 0 0 rgba(244, 157, 22, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(244, 157, 22, 0);
        box-shadow: 0 0 0 10px rgba(244, 157, 22, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(244, 157, 22, 0);
        box-shadow: 0 0 0 0 rgba(244, 157, 22, 0);
    }
}

.reveal .snippet-preview iframe {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
    background-image: -webkit-linear-gradient(
            rgba(255, 255, 255, 0.05) 1px,
            transparent 1px
        ),
        -webkit-linear-gradient(0, rgba(255, 255, 255, 0.05) 1px, transparent
                    1px),
        -webkit-linear-gradient(rgba(255, 255, 255, 0.025) 1px, transparent 1px),
        -webkit-linear-gradient(0, rgba(255, 255, 255, 0.025) 1px, transparent
                    1px);
    width: 100%;
    min-height: 500px;
}

.reveal .name-title {
    margin: 100px;
}

code::-webkit-scrollbar,
.snippets::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

.snippets::-webkit-scrollbar {
    width: 15px;
    height: 11px;
}

code,
.snippets {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

code::-webkit-scrollbar-track,
.snippets::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

code::-webkit-scrollbar-thumb,
.snippets::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

code::-webkit-scrollbar-corner,
.snippets::-webkit-scrollbar-corner {
    background-color: var(--scrollbarBG);
}

input[type='range'] {
    -webkit-appearance: none;
    margin-top: 6px;
}

input[type='range']:focus {
    outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
    background: var(--r-sider-track);
    height: 5px;
}

input[type='range']::-moz-range-track {
    background: var(--r-sider-track);
    height: 5px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: var(--r-slider-thumb);
    margin-top: -5px;
    border-radius: 50%;
}

input[type='range']::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: var(--r-slider-thumb);
    margin-top: -5px;
    border-radius: 50%;
}

.input-two-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    width: 90%;
    margin: var(--r-block-margin) auto;
}

.input-col {
    display: flex;
    flex-direction: column;
}

.input-col label {
    text-align: start;
    font-size: var(--r-label-size);
    padding-bottom: var(--r-label-padding);
}

.image-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
